@use 'mixins' as *;

.chat-item {
  $root: &;

  display: flex;
  position: relative;

  padding: 12px;
  column-gap: 16px;

  background: var(--dark-gray);
  @include border-bottom();
  @include border-top();

  cursor: pointer;

  &__info {
    @include flex-column();
    row-gap: 8px;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
  }

  &__time {
    position: absolute;
    right: 8px;
    top: 8px;
    color: var(--white);
    font-size: 12px;
  }

  &__last-message {
    font-size: 12px;
    color: var(--floating-white);
  }

  &__counter {
    right: 8px;
    background-color: var(--teal);
    border-radius: 24px;
    font-size: 14px;
    color: var(--white);

    @include absolute-vertical-center();
    @include size(18px, 18px);
    @include flex-center();
  }

  &:hover {
    background: var(--filter-white);
    color: var(--dark-primary);

    #{$root}__time {
      color: var(--teal);
    }

    #{$root}__last-message {
      color: var(--dark-primary);
    }
  }
}
