<form class="registration-form" action="#">
  <div class="registration-form__inputs">
    {{{inputs}}}
  </div>
  <div class="registration-form__buttons">
    {{{Button}}}
    {{{Link}}}
  </div>
</form>
