<div class="file-input">
    <label class="file-input__icon" for="{{id}}">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.38508 15.2889L15.4585 8.25571C15.8948 7.76432 16.4807 7.49159 17.0893 7.49651C17.6979 7.50143 18.2804 7.78359 18.7108 8.28198C19.1411 8.78036 19.3848 9.4549 19.389 10.1597C19.3933 10.8645 19.1578 11.5429 18.7335 12.0482L8.90808 23.4286C8.03938 24.4347 6.86113 24.9999 5.63255 25C4.40397 25.0001 3.22569 24.4349 2.35692 23.4289C1.48814 22.4229 1.00005 21.0585 1 19.6358C0.999953 18.213 1.48796 16.8485 2.35667 15.8425L13.1385 3.35671C15.852 0.214429 20.2514 0.214429 22.9649 3.35671C25.6784 6.49899 25.6784 11.5937 22.9649 14.7354L15.9365 22.8751" stroke="white" stroke-opacity="0.6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </label>
    <input type="file" id="{{id}}" name="{{name}}">
</div>