.file-input {
  $root: &;
  width: min-content;

  &__icon {
    cursor: pointer;
    path {
      transition: stroke 0.2s ease-in-out;
    }
  }

  input {
    display: none;
  }

  &:hover {
    #{$root}__icon {
      path {
        stroke: var(--teal);
      }
    }
  }
}
