@use 'mixins' as *;

.modal-background {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(12px);

  .modal-body {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 64px 12px;
    background: var(--dark-glass);
    outline: none;
    border: none;
  }
}
