.avatar {
  width: 46px;
  height: 46px;
  background: var(--floating-white);
  border-radius: 99px;
  overflow: hidden;

  &__image {
    display: block;
    width: 46px;
    height: 46px;
    object-fit: cover;
  }
}
