<div class="auth-page">
    <main>
        <h1 class="auth-page__header">Byte</h1>
        <form class="auth-form" action="#">
            <div class="auth-form__inputs">
                {{>Input id='login' label="login"}}
                {{>Input id='password' type='password' label="password"}}
            </div>
            <div class="auth-form__buttons">
                {{>Button label='Sign in' href="/"}}
                {{>Link text='Create account' href="/sign-up"}}
            </div>
        </form>
    </main>
</div>
