<div class="search" role="search">
    <input class="search__field" type="text" placeholder="Search">
    <svg class="search__icon" role="button" width="16" height="16" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.1208 10.3366C12.0238 9.24356 12.5941 7.84158 12.5941 6.29703C12.5941 2.82772 9.76634 0 6.29703 0C2.82772 0 0 2.82772 0 6.29703C0 9.76634 2.82772 12.5941 6.29703 12.5941C7.81782 12.5941 9.24356 12.0475 10.3366 11.1208L15.2317 16.0158C15.3505 16.1347 15.4931 16.1822 15.6356 16.1822C15.7782 16.1822 15.9208 16.1347 16.0396 16.0158C16.2535 15.802 16.2535 15.4218 16.0396 15.2079L11.1208 10.3366ZM6.27327 11.4535C3.42178 11.4535 1.11683 9.14852 1.11683 6.29703C1.11683 3.44554 3.42178 1.14059 6.27327 1.14059C9.12475 1.14059 11.4297 3.44554 11.4297 6.29703C11.4297 9.14852 9.12475 11.4535 6.27327 11.4535Z" fill="white"/>
</svg>

</div>