@use 'mixins' as *;

.input {
  position: relative;
  row-gap: 4px;
  color: var(--floating-white);
  width: 100%;

  $root: &;

  @include flex-column;

  &__label {
    order: 2;
    cursor: pointer;
    transform: translate(12px, calc(-150% - 4px));
    transition: all 0.3s ease-in-out;
  }

  &__field {
    order: 1;
    padding: 12px;
    width: 100%;
    color: var(--floating-white);
    outline: none;
    border: none;
    background: none;

    @include border-bottom;
  }

  &__error {
    margin: 0;
    order: 3;
    transform: translateX(12px);
    font-size: 14px;
  }

  &:focus-within {
    .input__label {
      transform: translate(12px, 0);
      font-size: 12px;
      color: var(--white);
    }

    .input__field {
      color: var(--white);
      border-color: var(--white);
    }
  }

  &._error {
    color: var(--primary-error);

    .input__error {
      transition: all 0.1s;
    }

    .input__label {
      color: var(--primary-error);
    }

    .input__field {
      color: var(--primary-error);
      border-color: var(--primary-error);
    }

    &:not(:focus-within, ._filled) {
      .input__error {
        transform: translateY(-14px);
      }
    }
  }

  &._filled {
    #{$root}__label {
      transform: translate(12px, 0);
      font-size: 12px;
    }

    &:not(._error) {
      #{$root}__field {
        color: var(--white);
        border-color: var(--white);
      }

      #{$root}__label {
        color: var(--white);
      }
    }
  }
}
