@use 'mixins' as *;

.update-avatar-form {
  $root: &;

  &__avatar {
    margin: 0 auto;
    box-shadow: 2px 4px 4px var(--dark-primary);
    background-color: var(--floating-white);
    border-radius: 50%;

    @include size(79px, 79px);

    overflow: hidden;
    position: relative;

    &:hover {
      #{$root}__label {
        bottom: 0;
      }
    }
  }

  &__label {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 40%;
    padding: 4px;
    display: flex;
    justify-content: center;
    background: var(--dark-glass);
    bottom: -100%;
    transition: bottom 0.3s ease-in-out;
  }
}
