
<div class="update-avatar-form__avatar">
    <img style="display: none;" src="#" alt="avatar" class="update-avatar-form__image">
    <label for="avatar" class="update-avatar-form__label">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.696 1.77778L11.16 3.55556H14.4V14.2222H1.6V3.55556H4.84L6.304 1.77778H9.696ZM10.4 0H5.6L4.136 1.77778H1.6C0.72 1.77778 0 2.57778 0 3.55556V14.2222C0 15.2 0.72 16 1.6 16H14.4C15.28 16 16 15.2 16 14.2222V3.55556C16 2.57778 15.28 1.77778 14.4 1.77778H11.864L10.4 0ZM8 6.22222C9.32 6.22222 10.4 7.42222 10.4 8.88889C10.4 10.3556 9.32 11.5556 8 11.5556C6.68 11.5556 5.6 10.3556 5.6 8.88889C5.6 7.42222 6.68 6.22222 8 6.22222ZM8 4.44444C5.792 4.44444 4 6.43556 4 8.88889C4 11.3422 5.792 13.3333 8 13.3333C10.208 13.3333 12 11.3422 12 8.88889C12 6.43556 10.208 4.44444 8 4.44444Z" fill="white"/>
        </svg>
    </label>
</div>
<input style="display: none;" type="file" id="avatar" name="avatar" class="update-avatar-form__field" autocomplete="photo" data-input="avatar"/>
