.update-info-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  justify-content: stretch;

  &__error {
    min-height: 20px;
    font-size: 14px;
    color: var(--primary-error);
  }
}
