<form class="update-info-form" action="#">
  {{>Input label="email" id="email" type="text" autocomplete="email"}}
  {{>Input label="login" id="login" type="text" autocomplete="username"}}
  {{>Input label="name" id="first_name" type="text" autocomplete="given-name"}}
  {{>Input label="last name" id="second_name" type="text" autocomplete="family-name"}}
  {{>Input label="nickname" id="nickname" type="text" autocomplete="nickname"}}
  {{>Input label="phone" id="phone" type="tel" autocomplete="tel"}}
  {{>Button label="Save" type="submit" }}
</form>
