<form class="update-password-form" action="#">
  {{>Input label="current password" id="password" type="password" autocomplete="current-password"}}
  {{>Input label="new password" id="new-password" type="password" autocomplete="new-password"}}
  {{>Input label="confirm password" id="confirm-password" type="password" autocomplete="new-password"}}
  {{>Button label="Save" type="submit"}}
</form>
