<form class="update-info-form" action="#">
  {{>Input label="email" id="email" name="email" type="text" autocomplete="email"}}
  {{>Input label="login" id="login" name="login" type="text" autocomplete="username"}}
  {{>Input label="name" id="first_name" name="first_name" type="text" autocomplete="given-name"}}
  {{>Input label="last name" id="second_name" name="second_name" type="text" autocomplete="family-name"}}
  {{>Input label="nickname" id="display_name" name="display_name" type="text" autocomplete="nickname"}}
  {{>Input label="phone" id="phone" name="phone" type="tel" autocomplete="tel"}}
  {{>Button label="Save" type="submit" }}
</form>
