@use 'mixins' as *;

.user-bar {
  @include flex-vertical-center;
  @include border-bottom;

  padding: 4px 26px;
  justify-content: space-between;

  &__info {
    @include flex-vertical-center;

    column-gap: 16px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    span {
      font-size: 12px;
      color: var(--floating-white);
    }
  }

  &__settings {
    @include flex-center;

    width: 36px;
    height: 36px;
    border: none;
    background: transparent;
    color: var(--floating-white);
    cursor: pointer;
    border-radius: var(--radius-m);

    &:hover {
      background: var(--filter-white);
      color: var(--white);
    }
  }
}
