.page-enter {
  position: absolute;
  width: 100%;
  animation: page-fade-in 0.3s ease-in-out forwards;
}

.page-exit {
  position: absolute;
  width: 100%;
  animation: page-fade-out 0.3s ease-in-out forwards;
}

@keyframes page-fade-in {
  from {
    opacity: 0;
    transform: translateX(60%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes page-fade-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-60%);
  }
}

.modal-enter {
  animation: modal-fade-in 0.2s ease-in-out forwards;
}

.modal-exit {
  animation: modal-fade-out 0.2s ease-in-out forwards;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
