/* --- АНИМАЦИИ СТРАНИЦ (Слайдер) --- */
.page-enter {
  animation: pageFadeIn 0.3s ease-in-out forwards;
}
.page-exit {
  animation: pageFadeOut 0.3s ease-in-out forwards;
}

@keyframes pageFadeIn {
  from {
    opacity: 0;
    transform: translateX(60%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pageFadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-60%);
  }
}

.modal-enter {
  animation: modalFadeIn 0.2s ease-in-out forwards;
}
.modal-exit {
  animation: modalFadeOut 0.2s ease-in-out forwards;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
