:root {
  background-color: var(--dark-gray);
  color: var(--white);
  font-family: Rubik, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  background: none;
  outline: none;
  border: none;
}

a,
textarea {
  text-decoration: none;
}

.router-animating {
  overflow: hidden !important;
}
