
:root{
    background-color: var(--dark-gray);
    color: var(--white);
    font-family: 'Rubik';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    background: none;
    outline: none;
    border: none;
}

a, textarea{
    text-decoration: none;
    
}