@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url('/fonts/rubik-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url('/fonts/rubik-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 800;
  src: url('/fonts/rubik-extrabold.ttf') format('truetype');
}

