:root{
    //colors
    --dark-gray: #121212;
    --dark-primary: #1F1B24;
    --dark-glass: rgba(31, 27, 36, 0.3);

    --primary-purple: #BB86FC;
    --primary-blue: #3700B3;

    --teal: #03DAC5;

    --primary-error: #CF6679;
    --secondary-error: #6C3741;
    --light-error: #F6788F;

    --white: #FFFFFF;
    --floating-white: rgba(255, 255, 255, 0.6);
    --filter-white: rgba(255, 255, 255, 0.4);

    //other
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 12px;
    --radius-xl: 24px;
}