:root {
  // colors
  --dark-gray: #121212;
  --dark-primary: #1f1b24;
  --dark-glass: rgb(31 27 36 / 30%);
  --primary-purple: #bb86fc;
  --primary-blue: #3700b3;
  --teal: #03dac5;
  --primary-error: #cf6679;
  --secondary-error: #6c3741;
  --light-error: #f6788f;
  --white: #fff;
  --floating-white: rgb(255 255 255 / 60%);
  --filter-white: rgb(255 255 255 / 40%);

  // other
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 24px;
}
