.error-page {
  text-align: center;
  padding-top: 138px;

  &__header {
    font-size: 96px;
    margin: 0;
    margin-bottom: 12px;
  }

  &__code {
    margin: 0;
    font-size: 86px;
    margin-bottom: 8px;
  }

  &__info {
    margin-bottom: 48px;
  }
}
