<div class="error-page">
    <main>
        <div class="error-page__info">
            <h1 class="error-page__header">We crashed</h1>
            <h2 class="error-page__code">500</h2>
            {{>Link text="your way back =>" href="/"}}
        </div>
        <img src="images/error.svg" alt="error">
    </main>
    
</div>