@use "mixins" as *;

.send-message-form {
  @include border-top;

  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-template-areas:
    'file input submit'
    'error error error';
  align-items: center;
  gap: 8px 12px;
  padding: 12px 16px 20px;
  position: relative;

  .file-input {
    grid-area: file;
  }

  .message-input {
    grid-area: input;
  }

  .send-message-button {
    grid-area: submit;
  }

  &__error {
    grid-area: error;
    min-height: 16px;
    margin: 0;
    padding-left: 2px;
    font-size: 12px;
    color: var(--primary-error);
  }
}
