<div class="message-input">
    <textarea id="message-input" name="message-input" class="message-input__field" type="text" placeholder="{{placeholder}}" 
    value="{{value}}"
    > </textarea>
</div>