<div class='message-input'>
  <textarea
    id='message'
    name='message'
    class='message-input__field'
    type='text'
    placeholder='{{placeholder}}'
    value='{{value}}'
  > </textarea>
</div>
