.link {
  text-decoration: none;
  font-size: 16px;
  color: var(--teal);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--white);
  }

  &:active {
    color: var(--floating-white);
  }
}
