.link{
    text-decoration: none;
    font-size: 16px;
    color: var(--teal);
    transition: color .3s ease-in-out;
    &:hover{
        color: var(--white);
    }

    &:active{
        color: var(--floating-white);
    }
}