<div class="chats-page">
    <aside class="info">
        <header class="chat-utils">
            {{{SettingsLink}}}
            {{!-- {{>Link text="settings" href='/user-data'}} --}}
            {{!-- {{>Search placeholder="Search"}} --}}
        </header>
        {{!-- {{>ChatFeed }} --}}
    </aside>
    <main class="chat">
        {{!-- {{>ChatInfobar}} --}}
        <section class="chat-view">
            <p class="no-messages">
                no messages yet...
            </p>
        </section>
        {{!-- {{>SendMessageForm }} --}}
    </main>
</div>


