@use 'mixins' as *;

.chats-page {
  display: grid;
  grid-template-columns: 20% 80%;
  .chat-utils {
    padding: 12px;
    .link {
      display: block;
      width: fit-content;
      margin-left: auto;
      margin-right: 0px;
      margin-bottom: 12px;
    }
  }
  .info {
    @include border-right();
    min-height: 100vh;
  }

  .chat {
    display: grid;
    grid-template-rows: 6% 88% 6%;
    background-color: var(--dark-glass);
  }

  .chat-view {
    position: relative;
    .no-messages {
      @include absolute-center();
    }
  }
}
