@use 'mixins' as *;

.chats-page{
    display: grid;
    grid-template-columns: 20% 80%;
    .chat-utils{
        padding: 12px;
        .link{
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: 0px;
            margin-bottom: 12px;
        }
    }
    .info{
        @include border-right();
        min-height: 100vh;
    }

    .chat{
        display: grid;
        grid-template-rows: 6% 88% 6%;
        background-color: var(--dark-glass);
    }

    .user-bar{
        @include flex-vertical-center();
        @include border-bottom();

        padding: 4px 26px;
        justify-content: space-between;

        &__info{
            @include flex-vertical-center();
            column-gap: 32px;
        }

        .settings{
            @include flex-center;
        }
    }

    .chat-view{
        position: relative;
        .no-messages{
            @include absolute-center();
        }
    }

    .chat-communication{
        @include border-top();
        display: grid;
        grid-template-columns: 3% 92% 4%;   
        align-items: center;    
        padding: 8px 16px; 
        column-gap: 8px;
    }
}