<div class="chats-page">
    <aside class="info">
        <div class="chat-utils">
            {{>Link text="settings" href='/sign-in'}}
            {{>Search placeholder="Search"}}
        </div>
        {{>ChatFeed }}
    </aside>
    <main class="chat">
        {{>ChatInfobar}}
        <div class="chat-view">
            <p class="no-messages">
                no messages yet...
            </p>
        </div>
        {{>ChatComposer }}
    </main>
</div>


