.send-message-button {
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    path {
      transition: fill 0.3s ease-in-out;
    }
  }

  &:hover {
    svg {
      path {
        fill: var(--teal);
      }
    }
  }
}
